<link rel="stylesheet" media="all" href="__PUBLIC__/style/common.css?20140731" />
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/libs/jquery-1.9.0.js"></script>
<script src="__PUBLIC__/js/common/html5shiv.js"></script>
<![endif]-->
<!--[if gte IE 9]><!-->
<script src="__PUBLIC__/js/libs/jquery-2.1.1.js"></script>
<!--<![endif]-->
<script src="__PUBLIC__/js/libs/ec.lib.js?<?php echo $VERSION ?>" namespace="ec"></script>
<!--[if IE 7]><script>ol.isIE7=true;</script><![endif]-->
<!--[if IE 8]><script>ol.isIE8=true;</script><![endif]-->
<script src="__PUBLIC__/js/common/ec.base.js?20140731"></script>
<title>{$Think.config.title}</title>
<meta name="Keywords" content="" />
<meta name="Description" content="{$Think.config.title}" />
