<div class="pager" id="list-pager-2">
    <ul>
        <li class="first un_page">第一页</li>
        <li class="prev un_page">上一页</li>
        <li class="pgCurrent">1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li class="next">下一页</li>
        <li class="last">最后一页</li>
        <li class="quick_pager">
            <div class="quickPager_form"><input type="text" /><span>GO</span></div>
        </li>
    </ul>
</div>