<!-- BEGIN Navbar -->
<div id="navbar" class="navbar">
    <a href="/index.php" class="fl logo">旺通物流管理系统</a> 
    <span class="padding_left_30"><a href="http://www.zaozhuangwuliu.com">www.zaozhuangwuliu.com</a></span>
    <div class="fr top_nav">
        <!--<div class="li news_li"><a href="#" class="icon_btn"><i class="icon icon_news"></i><span>最新资讯</span><em class="yellow">(20)</em></a></div>-->
        <div class="li select_block login">
			<a href="#" class="select_block_title icon_btn"><i class="icon icon_user"></i><span>欢迎，admin</span><i class="icon icon_arr"></i></a>
			<p class="select_box">
				<a href="#">用户资料</a>
				<a href="#">安全退出</a>
			</p>
		</div>
		<div class="li sys_opt"><a href="/index.php/Home/Public/option" title="系统设置"><i class="icon icon_opt"></i></a></div>
    </div>
</div>
<!-- END Navbar -->